<!DOCTYPE html>
<html>
  <head>
    <title>The Hacking Project</title>
    <meta charset="utf-8" />
    <meta name="description" content="Présentation de la formation THP : apprendre à coder en 3 mois gratuitement!" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124104266-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124104266-1');
    </script>
  </head>

  <body class="wrapper">
    <%= yield %>
  </body>
</html>
